#container_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 450px;
  background-color: #6C8871;
  border-radius: 10px;
  margin: 130px;
}

#texto_login {
  font-family: "Istok Web", sans-serif;
  color: #EDE7DB;
  font-weight: bold;
  margin-bottom: 30px;
}

#form_login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_input {
  display: flex;
  flex-direction: column; 
}

.label {
  font-family: "Istok Web", sans-serif;
  color: #EDE7DB;
  margin-bottom: 3px;
}

.input {
  width: 350px;
  height: 40px;
  background-color: #EDE7DB;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

#check {
  border: 0;
  border-radius: 10px;
}

#btn {
  width: 350px;
  height: 40px;
  background-color: #EDE7DB;
  border: 0;
  border-radius: 5px;
  color: #343434;
  font-family: "Istok Web", sans-serif;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}

#btn:hover {
  background-color: #afada8;
  color: #444040;
}

.container_action {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#esqueceu_senha:hover {
  color: #444040;
}

#cadastrar:hover {
  color: #444040;
}

#container_nome {
  position: absolute;
  top: 100px;
  left: 160px;
  width: 500px;
  height: 500px;
}

.titulo {
  font-size: 50px;
  color: #6C8871;
  margin-bottom: 15px;
}

#slogan {
  font-family: "Istok Web", sans-serif;
}

#container_img {
  display: flex;
  margin: 447px 50px 0px 50px;
  gap: 50px
}

.img_animal {
  width: 300px;
  height: 300px;
}

#container_divisor {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  border-left: 10px solid #6C8871;
}